/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2563eb; /* Blue-600 */
  --ifm-color-primary-dark: #1d4ed8; /* Blue-700 */
  --ifm-color-primary-darker: #1e40af; /* Blue-800 */
  --ifm-color-primary-darkest: #1e3a8a; /* Blue-900 */
  --ifm-color-primary-light: #3b82f6; /* Blue-500 */
  --ifm-color-primary-lighter: #60a5fa; /* Blue-400 */
  --ifm-color-primary-lightest: #93c5fd; /* Blue-300 */
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #6366f1; /* Indigo-500 */
  --ifm-color-primary-dark: #4f46e5; /* Indigo-600 */
  --ifm-color-primary-darker: #4338ca; /* Indigo-700 */
  --ifm-color-primary-darkest: #3730a3; /* Indigo-800 */
  --ifm-color-primary-light: #818cf8; /* Indigo-400 */
  --ifm-color-primary-lighter: #a5b4fc; /* Indigo-300 */
  --ifm-color-primary-lightest: #c7d2fe; /* Indigo-200 */
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

